<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fish</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <h1>Fishing</h1>
    <button id="btn-test" type="button">Test</button>
    <div id="result">
        <p>{{text}}</p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>