<div id="CreateForumBackdrop" class='backdrop'>
    <div id="CreateForum" class="centered colored-boarder">
        <h1 class="page-title">Create a Forum Post</h1>
        <button id="Close" type="button" class="btn btn-secondary">X</button>
        <form method="Post" enctype="multipart/form-data" id="SubmitForum" action="/Forum_Creation">
            <label for="Selected-email">Select a Email for the Forum post</label>
            <input list="emails" name="Selected-email" id="Selected-email" autocomplete="off" placeholder="Select an email" required>
            <datalist id="emails">
                {% for eml_id, title in emails %}
                    <option value="{{eml_id}}">{{ title }}</option>
                {% endfor %}
            </datalist>
            Gör det till en drop down menu
            <input type="text" name="title" placeholder="Give the post a titl" required> Välj titel till forumet
            <input type="text" name="description" required> Skriv lite text till forumet
            <button type="submit" class="submit-btn">Submit</button>
        </form>

    </div>
</div>
