<div id="CreateForumBackdrop" class='backdrop'>
    <div id="CreateForum" class="centered colored-boarder">
        <h1 class="page-title">Create a Forum Post</h1>
        <button id="Close" type="button" class="btn btn-secondary">X</button>
        <forum>
            <input type="">Select email (calla på funktionen som hämtar alla en persons email)
            Gör det till en drop down menu
            <input type="text"> Välj titel till forumet
            <input type="text"> Skriv lite text till forumet
            <input type="submit">
        </forum>

    </div>
</div>
