{% extends "form.html" %}
{% block content %}
    <form id="uploadForm" method="post" enctype="multipart/form-data" action="/upload">
        <div class="mb-3 form-check">
            <input type="file" class="form-control" name="file" accept=".eml" id="dropBox" required/>
            <label class="form-check-label" for="dropBox">Email</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <button id="Login_btn">Login</button>
    <div id="result">
        <p>{{text}}</p>
    </div>
{% endblock %}