:root {
    --BC: #2b2030;
    --BC_Compliment: #141420;
    --Text_Color: #eee;
}

body {
    background-color: var(--BC);
    color: var(--Text_Color);
}

#nav {
    justify-content: left;
    font-weight: bold;
}

form#Login {
    position: absolute;
    display: none;

    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    border: white 2px solid;
    border-radius: 5em;

    border: white 2px solid;
    border-radius: 5em;
    padding: 5em 10em;
}